* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {    
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: -0.1rem;
}

h2 {
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.7rem;
    text-transform: uppercase;
}

.parrafo {
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
}
.container1{
    padding: 100px 275px;   
    display: flex;
    justify-content: space-between;
    
    
}
.container1_parafo {
    width: 50%;
   
}

.containe2{
    display: flex;
    
    
} 
.seccion2{
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    flex-wrap: wrap;
    margin: 0px 275px;
    column-gap: 100px;
    row-gap: 100px;
}
.seccion2_2{
        padding-top: 100px;
}


img {
    max-width: 100%;
    min-width: 160px;
    width: 237px;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
  }
  
.texto-vertical {
    display: inline-block;
    vertical-align: middle;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    
  }
  
.texto-horizontal {
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 1.125rem;
    clear: both;
  }

.footer_created{
    display: flex;
    justify-content: center;
        color: #BDBDBD;
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size: 0.875rem;
}

.footer_created-p{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    padding: 0px 5px;
    text-decoration: underline;
}

  @media screen and (max-width: 880px){
    .seccion2{
        grid-template-columns: 1fr 1fr;
        margin: 0px 12px;
        column-gap: 50px;
        row-gap: 50px;
    }
    .container1{
        padding: 71px 12px;   
        flex-direction: column;       
        justify-content: space-between;
        gap: 20px;
        
        
     }
     .parrafo {  
        width: 90vw;                  
        margin-top: 20px;    
       
    }
    .seccion2_2{
        padding-top: 0px;
    }
    .seccion2_3{
        padding-top: 100px;
    }
  }

  
  